<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>
		<%= process.env.INSTANCE_NAME %>
	</title>
	<link rel="stylesheet" href="index.css" />
	<%- include('./include/prelude'); %>
		<script defer src="global/progress.js" type="module"></script>
		<script src="redirect.js" type="module"></script>
</head>

<body class="background-color">
	<script defer src="index.js" type="module"></script>
	<%- include('./include/navbar'); %>
		<div id="wrapper" class="background-color">
			<div class="big block text-center content">
				<template id="current_period_time_template">
					<div class="progress">
						<svg class="progress-ring">
							<circle class="progress-ring__circle" stroke="currentColor" fill="transparent" />
							<circle class="progress-ring__border" stroke="currentColor" fill="transparent"
								strokewidth="4" />
						</svg>
					</div>
					<span class="text-wrapper">{NAME} ends at <b>{END}</b> (in <b>{END_IN}</b>).
					</span>
				</template>
				<div class="content">
					<span id="schedulename"></span>
					<div class="big" id="current_parent"></div>
					<div id="next_parent">
						<div class="divider"></div>
						<template id="next_period_template">
							The next period is {NAME}, which ends at {END}
						</template>
						<div class="bigish" id="next_period"></div>
					</div>
				</div>

				<div id="progress_parent"></div>
			</div>
			<%- include('./include/advisory'); %>
				<%- include('./include/fullscreen'); %>
		</div>
</body>

</html>